body {
    background: lavender;
    color: #A7AFB2;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background: linear-gradient(to right, #123524, #305252);

  }
  
  .site-header .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: burlywood;
    overflow-x: hidden;
    background: var(--color-bg);
    font-size: 0.9rem;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #123524;
    padding: 10px 20px;
    border: 1px solid ;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .test{
    border-bottom: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .test-img {
    border-radius: 50%;
}

/* delete button styling */
/* Add this to your existing CSS or create a new style block */
.shopping-list {
    list-style: none;
}

.shopping-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.delete-form {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.delete-btn {
    width: 20px; /* Adjust the width */
    height: 20px; /* Adjust the height */
    border-radius: 50%;
    background-color: #123524; /* Customize the background color */
    color: burlywood;
    border: none;
    font-size: 12px; /* Adjust the font size */
    cursor: pointer;
    line-height: 20px; /* Add this line to center the text vertically */
}

.item-name {
    margin-left: 30px; /* Adjust the margin as needed */
}
