.input-group{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* .navbar-brand{
    margin-top: 200px;
    margin-bottom: 200px;
}
.navbar-brand{
    text-justify: auto;
}
.img {
    width: 2000px;
    height: 2000px;
} */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .card {
    margin-bottom: 20px;
 }
 .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 
 .card {
    flex: 1 0 21%; /* This makes the cards take up 21% of the container's width */
    margin: 1%; /* This adds a 1% margin around the cards */
 }
 .carousel-inner img {
    height: 400px; /* Set the height to the desired value */
    width: auto; /* Maintain the aspect ratio */
 }
