.input-group{
    margin-top: 100px;
    margin-bottom: 100px;
}
.navbar-brand{
    margin-top: 200px;
    margin-bottom: 200px;
}
.navbar-brand{
    text-justify: auto;
}
.img {
    width: 2000px;
    height: 2000px;
}
