{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    
    <title>{{ recipe.title }}</title>
</head>
<body>
    <h1>{{ recipe.title }}</h1>
    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
    <p>Source: <a href="{{ recipe.url }}" target="_blank">{{ recipe.source }}</a></p>
    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in recipe.ingredients_list %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock content %}